* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(42, 42, 42);
  color: white;
}

.movie,
.movieProps {
  display: flex;
  flex-direction: row;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  background-position-y: 20%;
  background-image: url("images/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  margin: 0 44 0 44;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

form > div {
  position: absolute;
  left: 0;
  /* background-color: aqua; */
  background-image: url("icons/search.svg");
  background-size: cover;
  color: black;
}

input {
  width: 100%;
  padding: 9px;
}

#submit {
  padding: 9px 35px;
}
.whenEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: center;
}
