* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;
}

#header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 300px;
  background-position-y: 20%;
  background-image: url("images/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45); /* tint */
}

.opened {
  font-family: "Inter", sans-serif;
  font-size: 42.79px;
  font-weight: 800;
  line-height: 40px;
  color: white;
}

.closed {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: white;
}

#search,
#watchlist {
  z-index: 100;
}

.movie {
  display: flex;
  flex-direction: row;
}

form {
  margin: 0 44 0 44;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

form > label {
  position: absolute;
  left: 0;
  height: 100%;
  width: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("icons/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

input {
  width: 100%;
  padding: 9px 9px 9px 41px;
  background-color: #2e2e2f;
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border: none;
  border-radius: 6px 0px 0px 6px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #2e2e2f inset;
  -webkit-text-fill-color: #a5a5a5;
  transition: background-color 9999s ease-in-out 0s;
}

input:focus {
  background-color: #2e2e2f;
  color: #a5a5a5;
  outline: none;
}

#submit {
  padding: 9px 35px;
  background-color: #4b4b4b;
  color: white;
  border: none;
  border-radius: 0px 6px 6px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

#movieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: lightblue; */
  gap: 15px;
  margin: 61px 44px 0 44px;
  padding: 0px 50px 0px 50px;
  min-height: 200px;
}

#movieContainer > p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #2e2e2f;
}

#movieContainer > button {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: white;
  background: none;
  border: none;
}

.movie {
  display: flex;
  flex-direction: row;
  gap: 21px;
  width: 100%;
}
/* 
.movieImageContainer {
  width: 100px;
} */

.movieImageContainer > img {
  /* max-width: 150px; */
  max-width: 120px;
}

.textArea {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15 15 15 0;
  gap: 18px;
}

.movieTitleContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.movie {
  width: 100%;
}

.moiveTitle {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.movieRating {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.movieProps {
  display: flex;
  flex-direction: row;
  gap: 18px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.addToOrRemoveFromWatchlist {
  border: none;
  background: none;
  color: white;
  /* background-image: url("icons/plus.svg"); */
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 25px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.descriptionContainer {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #a5a5a5;
  overflow: hidden;
}

.descLast {
  display: none;
}

.readMoreBtn {
  background: none;
  border: none;
  color: rgb(47, 47, 255);
  cursor: pointer;
  display: inline;
}

.seperator {
  margin: 5 0 5 0;
  /* border: 1.5px solid #2c2c2c; */
  border: 1.5px solid #2c2c2c;
  width: 100%;
}
