* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;
}

#header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  background-position-y: 20%;
  background-image: url("images/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
  /* background-position: center; */
}

#header::before {
  /* #header { */
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45); /* tint */
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 42.79px;
  font-weight: 800;
  line-height: 23.77px;
  color: white;
  z-index: 100;
}

#add-to-watchlist {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: white;
  z-index: 100;
}

.movie {
  display: flex;
  flex-direction: row;
}

form {
  margin: 0 44 0 44;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

form > div {
  position: absolute;
  left: 0;
  /* background-color: aqua; */
  background-image: url("icons/search.svg");
  background-size: cover;
  color: black;
}

input {
  width: 100%;
  padding: 9px 9px 9px 41px;
  background-color: #2e2e2f;
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border: none;
  border-radius: 6px 0px 0px 6px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #2e2e2f inset;
  -webkit-text-fill-color: #a5a5a5;
  transition: background-color 9999s ease-in-out 0s;
}

input:focus {
  background-color: #2e2e2f;
  color: #a5a5a5;
  outline: none;
}

#submit {
  padding: 9px 35px;
  background-color: #4b4b4b;
  color: white;
  border: none;
  border-radius: 0px 6px 6px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

#whenEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: center;
}

#whenEmpty > p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #2e2e2f;
}

#movieContainer {
  display: flex;
  flex-direction: column;
  margin: 61 44 0 44;
}

.movie {
  display: flex;
  flex-direction: row;
  gap: 21px;
}

.movieImage {
  width: 100px;
  /* height: 150px; */
  background-image: url("https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.textArea {
  display: flex;
  flex-direction: column;
  padding: 15 15 15 0;
  gap: 18px;
}

.movieTitleContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.moiveTitle {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.movieRating {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.movieProps {
  display: flex;
  flex-direction: row;
  gap: 18px;

  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.description {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #a5a5a5;
}

.seperator {
  margin: 20.59 0 25 0;
  border: 1.5px solid #2c2c2c;
}
